.about {
  padding-bottom: 150px;

  &__container {
    padding: 0 275px;

    @include xxl-desktop {
      padding: 0 150px;
    }

    @include big-desktop {
      padding: 0 30px;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__descr {
    margin: 0;
    max-width: 774px;
    font-size: 24px;
    line-height: 36px;
    color: #000;
    opacity: 0.8;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      .about__image {
        transform: scale(1.1);
        transition: transform .3s;
      }

      .about__text {
        color: #8F5C44;
        opacity: 1;
        transition: color .3s, opacity .3s;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    transition: transform .3s;
  }

  &__text {
    display: block;
    margin-top: 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    opacity: 0.7;
    transition: color .3s, opacity .3s;
  }
}
