.cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(39, 39, 39, 0.5);
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 50;

  @include md-tablet {
    justify-content: center;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
}
.cart-content {
  position: relative;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-y: auto;
  padding: 67px 40px 64px 31px;
  width: 700px;
  height: 100vh;
  box-shadow: 0px 4px 80px rgba(203, 203, 203, 0.42);
  border-radius: 10px 0px 0px 10px;
  background-color: #fff;

  @include md-tablet {
    width: 95%;
  }

  @include xl-mobile {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: initial;
    width: 100%;
  }

  @include mobile {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__top {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
    margin-bottom: 40px;

    @include mobile {
      column-gap: 10px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 24px;

    @include mobile {
      font-size: 20px;
    }

    @include mini-mobile {
      font-size: 18px;
    }
  }

  &__close {
    svg g {
      transition: all .3s;
    }

    @include hover {
      svg g {
        opacity: 1;
      }
    }

    &:focus {
      svg g {
        opacity: 1;
      }
    }

    &:active {
      svg g {
        opacity: 1;
      }
    }
  }

  &__list {
    // display: flex;
    // flex-direction: column;
    position: relative;
    max-height: 412px;
    overflow-y: hidden;
  }

  &__count {
    position: absolute;
    right: 0px;
    padding-left: 80px;
    font-weight: 500;
    font-size: 32px;
    color: var(--black-color);

  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(#8F5C44, 0.4);
    margin-top: 36px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    color: rgba(#000, 0.5);
    column-gap: 24px;
    transition: all .3s;

    @include mobile {
      margin-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
    }

    svg path {
      stroke: #000;
      opacity: 0.6;
      transition: all .3s;
    }

    &:hover {
      & {
        color: rgba(#000, 1);
      }

      svg path {
        opacity: 1;
        transition: all .3s;
      }
    }

    &:focus {
      color: rgba(#000, 1);

      svg path {
        opacity: 1;
        transition: all .3s;
      }
    }

    &:active {
      color: rgba(#000, 1);

      svg path {
        opacity: 1;
        transition: all .3s;
      }
    }
  }

  &__item + &__item {
    margin-top: 24px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 36px;

    @include mini-mobile {
      justify-content: end;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__descr {
    display: flex;
    width: 280px;
    margin: 0;
    font-size: 14px;
    color: rgba(#000, 0.5);

    @include mini-mobile {
      display: none;
    }
  }

  &__box {
    min-width: 130px;
  }

  &__total {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #000;
  }

  &__fullprice {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 42px;
  }

  &__order {
    display: flex;
    justify-content: center;
    border: 1px solid #2B2828;
    margin-bottom: 60px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background-color: #2B2828;
    transition: background-color .3s, color .3s;

    @include mobile {
      margin-bottom: 30px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 20px;
    }

    &:hover {
      color: #2B2828;
      background-color: transparent;
      transition: background-color .3s, color .3s;
    }

    &:focus {
      color: #2B2828;
      background-color: transparent;
    }

    &:active {
      color: #2B2828;
      background-color: transparent;
    }
  }

  .card-product {
    position: relative;
  }

  .card-product__title {
    font-size: 24px;
    text-align: start;

    @include mini-mobile {
      font-size: 23px;
    }
  }

  .card-product__top {
    display: flex;
    justify-content: space-between;


    @include mobile {
      position: relative;
    }
  }
  .card-product__buttons {
    position: relative;

    @include mobile {
      position: absolute;
      top: 42px;
      right: 0;
    }
  }

  .card-product__inner {
    padding: 0px;
  }

  .product-slider__slide {
    width: 138px !important;
  }

  .product-slider__image {
    width: 100%;
    height: 196px;

  }

  .product-slider__specific {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  .product-slider__title {
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: capitalize;
  }

  .product-slider__prices {
    margin-bottom: 25px;
  }

  .product-slider__newprice {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    font-weight: 500;
    font-size: 16px;

    &::before {
      content: "$";
      position: absolute;
      right: 0;
    }
  }

  .product-slider__oldprice {
    margin-left: 31px;
    display: inline-block;
    font-size: 16px;
    text-decoration: line-through;
    color: #C9C9C9;
  }

  .product-slider__to-cart {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    border: 1px solid var(--black-color);
    padding: 0 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    color: #fff;
    background-color: var(--black-color);
    transition: all .3s;
    cursor: pointer;


    @include hover {
      color: var(--black-color);
      background-color: transparent;
    }

    &:focus {
      color: var(--black-color);
      background-color: transparent;
    }

    &:active {
      color: var(--black-color);
      background-color: transparent;
    }
  }
}

.cart-empty {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(#8F5C44, 0.4);
  margin-bottom: 40px;



  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;

    span {
      font-size: 0;
    }
  }
  &__title {
    margin: 0;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 32px;
    color: #000;
  }

  &__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(#000, 0.8);
  }

}

.cart-product {
  display: flex;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 194px;
    height: 194px;
    background-color: #F8F2EC;

    @include mobile {
      margin-right: 10px;
      width: 150px;
      height: 160px;
    }

    @include mini-mobile {
      margin-right: 8px;
      width: 120px;
      height: 145px;
    }
  }

  &__text {
    width: calc(100% - 190px - 20px);

    @include mobile {
      width: calc(100% - 150px - 10px);
    }

    @include mini-mobile {
      width: calc(100% - 120px - 8px);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @include xl-mobile {
      flex-wrap: wrap;
    }
  }

  &__select {

    @include xl-mobile {
      width: 100%;
      order: 2;
    }
  }

  &__color {



    &--black {
      color: var(--black-color);
    }

    &--gold {
      color: #BE9364;
    }

    &--grey {
      color: #D2E2D7;
    }
  }

  &__delete {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 300;
    font-size: 13px;
    color: rgba(#272727, 0.5);
    transition: all .3s;

    svg {
      width: 12px;
      height: 12px;

      g {
        transition: all .3s;
      }
    }

    @include hover {
      color: rgba(#272727, 1);

      svg g {
        opacity: 1;
      }
    }

    &:focus {
      color: rgba(#272727, 1);

      svg g {
        opacity: 1;
      }
    }

    &:active {
      color: rgba(#272727, 1);

      svg g {
        opacity: 1;
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;


    @include mobile {
      font-size: 20px;
    }

    @include mini-mobile {
      font-size: 16px;
    }
  }

  &__size {
    display: inline-block;
    margin-bottom: 46px;
    font-size: 14px;
    opacity: 0.7;

    @include xl-mobile {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__stepper {
    transform: translate(0);
  }

  &__price {
    font-weight: 500;
    font-size: 32px;
  }


}

.cart-btn-prev {
  position: absolute;
  right: 55px;


  svg {
    opacity: 0.7;
    transition: all .3s;
  }
  path {
    transition: all .3s;
  }

  circle {
    transition: all .3s;
  }

  @include hover {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;

      path {
        opacity: 1;
      }

      circle {
        opacity: 1;
      }
    }
  }

  &:focus {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;

      path {
        opacity: 1;
      }

      circle {
        opacity: 1;
      }
    }
  }

  &:active {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;

      path {
        opacity: 1;
      }

      circle {
        opacity: 1;
      }
    }
  }
}

.cart-btn-next {
  position: absolute;
  right: 0;
  svg {
    width: 42px;
    height: 42px;
    opacity: 0.4;
    transition: all .3s;
  }

  @include hover {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;
    }
  }

  &:focus {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;
    }
  }

  &:active {
    svg {
      width: 49px;
      height: 49px;
      opacity: 1;
    }
  }
}

.cart-slider__scroll {
  height: 2px;
  background-color: rgba(#8F5C44, 0.4);
}

.custom-select {
  position: relative;

  &__top {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-right: 20px;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;


    @include mobile {
      font-size: 20px;
    }

    @include mini-mobile {
      font-size: 16px;
    }

    span {
      min-width: 70px;
      transition: all .2s;

      @include mobile {
        min-width: 50px;
      }

    }

    svg {
      transition: all .3s;
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    display: none;
    width: 100%;
  }

  &__item {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
    cursor: pointer;

    &--black {
      color: var(--black-color);
    }

    &--gold {
      color: #BE9364;
    }

    &--grey {
      color: #D2E2D7;
    }
  }

  &--open {
    .custom-select__top {
      svg {

        transform: rotate(180deg);
      }
    }

    .custom-select__dropdown {
      display: block;
      background-color: #fff;
    }
  }
}

.cart-content__empty--hide {
  display: none;
}

.cart-content__main {
  display: block;

  &--hide {
    display: none;
  }
}

.cart-product__price.card-info__price {
  margin-right: 0;

  @include mobile {
    font-size: 24px;
  }
}

.cart-product__price.card-info__price::before {
  @include mobile {
    top: 3px;
  }
}

.cart-content__fullprice.card-info__price {
  @include mini-mobile {
    margin-right: 0;
  }
}

// .simplebar-content {
//   display: flex;
//   flex-direction: column;
// }
