.card-product {
  padding-bottom: 150px;
  &__title {
    margin: 0;
    margin-bottom: 68px;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 40px;
  }

  &__inner {
    position: relative;
    margin-bottom: 80px;
    padding: 0 140px;

  }
}

.product-slider {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__slide {
    width: 250px;
    cursor: pointer;

    &:hover {
      .product-slider__image {
        border: 1px solid #272727;
      }
    }
  }

  &__card {
    width: 100%;

  }

  &__image {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 351px;
    border: 1px solid rgba(#8F5C44, 0.4);
    transition: all .3s;

  }

  &__specific {
    margin-top: 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
  }

  &__outdoors {
    font-size: 10px;
    opacity: 0.4;
  }

  &__size {
    font-size: 14px;
    text-transform: capitalize;
  }

  &__price {
    font-size: 14px;
  }

  &__scroll {
    background-color: #8F5C44;
    height: 2px;
    opacity: 0.4;
  }
}

.swiper-scrollbar-drag {
  border: 1px solid #272727;
  opacity: 1;
  width: 310px;

}

.slider-btn-next {
  position: absolute;
  z-index: 5;
  top: 44%;
  right: 42px;
  transform: translateY(-50%);

  path {
    stroke: #272727;
    opacity: 0.4;
    transition: all .3s;
  }
  &:hover {
    path {
      opacity: 1;
    }
  }

}

.slider-btn-prev {
  position: absolute;
  z-index: 5;
  top: 44%;
  left: 42px;
  transform: translateY(-50%);

  path {
    stroke: #272727;
    opacity: 0.4;
    transition: all .3s;
  }

  &:hover {
    path {
      opacity: 1;
    }
  }
}
