.card {
  padding-bottom: 158px;

  @include small-tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 60px;
  }

  &__container {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    grid-column: 7 span;

    @include xxl-tablet {
      grid-column: 6 span;
    }

    @include tablet {
      margin-bottom: 32px;
    }

  }

  &__right {
    margin-left: 8.5%;
    grid-column: 8 / 5 span;

    @include xl-desktop {
      margin-left: 0;
    }

    @include xxl-tablet {
      grid-column: 7 / 7 span;
    }
  }

  &-slider {
    // display: flex;
    // width: 950px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 30px;



    &__thumbs {
      // width: 250px;
      display: grid;
      grid-column: 2 span;
      row-gap: 30px;

      @include xxl-tablet {
        display: none;
      }
    }

    &__thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      width: 100%;
      height: 250px;
      background-color: #F8F2EC;
      cursor: pointer;

      &:focus {
        outline: 1px solid var(--black-color);
        outline-offset: 2px;
        transition: none;
      }
    }

    // &__thumb + &__thumb {
    //   margin-top: 30px;
    // }

    &__main {
      grid-column: 3 / 5 span;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-left: 30px;
      // width: 670px;
      height: 530px;
      background-color: #F8F2EC;
      overflow: hidden;

      @include xxl-tablet {
        grid-column: 7 span;
      }

      @include tablet {
        position: relative;
      }

      @include small-tablet {
        height: 400px;
      }

      @include mobile {
        height: 350px;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        picture {
          @include big-desktop {
            padding: 0 20px;
          }

          @include small-tablet {
            padding: 0 120px;
          }

          @include mobile {
            padding: 0 60px;
          }

          @include mini-mobile {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 380px;

    @include mobile {
      width: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 42px;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-transform: capitalize;

    @include tablet {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 42px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__prices {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__price {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 54px;
    font-weight: 500;
    font-size: 30px;

    &::before {
      content: "$";
      position: absolute;
      left: -10px;
      top: 5px;
      font-size: 18px;
    }

    @include mobile {
      margin-right: 30px;
      font-size: 24px;
    }
  }

  &__save {
    display: inline-block;
    font-size: 20px;
    color: rgba(#272727, 0.7);

    @include mobile {
      font-size: 16px;
    }
  }

  &__descr {
    margin: 0;
    font-size: 20px;
    color: rgba(#272727, 0.7);

    &-title {
      display: none;
      margin: 0;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      @include tablet {
        display: block;
      }
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__radiobuttons {
    margin-bottom: 40px;

    &-title {
      margin: 0;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__radiobutton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__radiobutton + &__radiobutton {
    margin-left: 40px;
  }

  &__btns {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 30px;

    @include xl-desktop {
      justify-content: initial;
    }

    @include big-desktop {
      column-gap: 20px;
    }

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      column-gap: 15px;
      justify-content: stretch;
    }
  }

  &__continue {
    display: none;
    padding: 15px 25px;

    @include tablet {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    @include small-tablet {
      font-size: 18px;
    }

    @include mobile {
      padding: 13px 8px;
      font-size: 16px;
    }

    @include mini-mobile {
      padding: 10px 6px;
      font-size: 14px;
    }

  }

  &__cart {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    border: 1px solid #2B2828;
    padding: 16px 55px;
    font-size: 20px;
    color: #fff;
    background-color: #2B2828;
    transition: color .3s, background-color .3s;

    @include xxl-desktop {
      padding: 16px 40px ;
    }

    @include big-desktop {
      padding: 16px 30px;
      width: 100%;
    }

    @include mobile {
      column-gap: 10px;
      padding: 12px 6px;
      font-size: 16px;
    }

    @include mini-mobile {
      font-size: 14px;
      padding: 10px 6px;
    }

    &:hover {
      color: #000;
      background-color: transparent;
      transition: color .3s, background-color .3s;


      svg path {
        fill: #2B2828;
        transition: fill .3s;
      }
    }

    svg path {
      transition: fill .3s;
    }
  }

  &__favorites {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #221E1E;
    padding: 16px 35px;
    font-size: 20px;
    color: #000;
    transition: color .3s, background-color .3s;

    @include xxl-desktop {
      padding: 16px 25px ;
    }

    @include big-desktop {
      padding: 16px 20px;
      width: 100%;
    }

    @include tablet {
      display: none;
    }

    &:hover {
      color: #fff;
      background-color: #2B2828;
      transition: color .3s, background-color .3s;
      svg path {
        fill: #fff;
        transition: fill .3s;
      }
    }

    svg {
      opacity: 0.8;

      path {
        transition: fill .3s;
      }
    }
  }

  &__colors {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 40px;
    margin-bottom: 30px;

    &-title {
      margin: 0;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }

  }

  &__color {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    transition: border .2s;
    cursor: pointer;

    &--active {
      border: 1px solid rgba(#272727, 0.8);
      transition: border .2s;
    }
  }

  &--black {
    background-color: var(--black-color);
  }

  &--gold {
    background-color: #BE9364;;
  }

  &--grey {
    background-color: #D2E2D7;;
  }
}

.card-lamp {
  picture {
    img {
      height: 200px;
      object-fit: contain;
    }
  }

}

.slider-lamp {
  picture img {
    width: 450px;
    height: 400px;
    object-fit: contain;
  }
}

.card-size {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 49%;
  margin: 50px auto;
  vertical-align: middle;
  width: 564px;
  height: 365px;
  background-color: #F8F2EC;
  box-shadow: 0px 40px 144px rgba(134, 134, 134, 0.19);
  visibility: hidden;
  opacity: 0;
  cursor: default;
  transform: translate(-50%, -200%);
  transition: opacity .3s, visibility .3s, transform .3s;

  @include small-tablet {
    width: 90%;
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity .3s, visibility .3s, transform .3s;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s, visibility .3s;
    }
  }

  &__content {
    padding: 30px 30px 68px 30px;
    height: 100%;

    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
  }

  &__close {
    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-bottom: 40px;
    }
  }

  &__text {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 28px;

    @include mobile {
      font-size: 22px;
    }
  }

  &__smile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/smile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.card-color {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 49%;
  width: 564px;
  height: 365px;
  background-color: #F8F2EC;
  box-shadow: 0px 40px 144px rgba(134, 134, 134, 0.19);
  visibility: hidden;
  opacity: 0;
  cursor: default;
  transform: translate(-50%, -200%);
  transition: opacity .3s, visibility .3s, transform .3s;

  @include small-tablet {
    width: 90%;
  }


  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
    transition: opacity .3s, visibility .3s, transform .3s;;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s, visibility .3s;
    }
  }

  &__content {
    padding: 30px 30px 68px 30px;
    height: 100%;

    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
  }

  &__close {
    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-bottom: 40px;
    }
  }

  &__text {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 28px;

    @include mobile {
      font-size: 22px;
    }
  }

  &__smile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/smile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.custom-radiobtn {
  cursor: pointer;

  &__text {
    position: relative;
    padding-left: 52px;
    display: inline-block;
    color: rgba(#272727, 0.4);
    transition: all .2s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      border: 1px solid rgba(#272727, 0.4);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      transform: translateY(-50%);
      transition: all .2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 10px;
      display: inline-block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: var(--black-color);
      opacity: 0;
      transition: all .2s;

      @include small-tablet {
        top: 5px;
      }

      @include mini-mobile {
        top: 4px;
      }
    }
  }


  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:checked + &__text {
    color: rgba(#272727, 1);
  }

  &__input:focus-visible + &__text::before {
    outline: 1px solid var(--black-color);
    outline-offset: 4px;
    transition: none;
  }

  &__input:checked + &__text::before {
    border: 1px solid rgba(#272727, 0.8);
  }
}

.slider-block__navigation {
  display: none;
  position: absolute;
  left: 22px;
  top: 22px;
  z-index: 2;

  svg {
    transition: opacity .3s;

    @include small-tablet {
      width: 40px;
      height: 30px;
    }
  }

  @include tablet {
    display: block;
  }

  &:hover {
    svg {
      opacity: 0.7;
      transition: opacity .3s;
    }
  }
}

.slider-block__btn-favorites {
  display: none;
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2;

  svg {
    width: 51px;
    height: 51px;
    opacity: 0.8;
    transition: opacity .3s;

    @include small-tablet {
      width: 40px;
      height: 30px;
    }
  }

  &:hover {
    svg {
      opacity: 0.5;
      transition: opacity .3s;
    }
  }

  @include tablet {
    display: block;
  }
}



