.collections {
  padding-bottom: 150px;
  &__title {
    padding-left: 140px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    margin-top: 80px;
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // width: 658px;
    height: 420px;
    background-color: #F8F2EC;

    img {
      display: block;
    }
  }
}

.collections-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "KronaOne";
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.03em;
    opacity: 0.8;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    line-height: 26px;
    opacity: 0.6;
  }

  &__link {
    padding: 11px 33px;
  }
}

.minimalistic {
  .collections-text {
    margin-left: 183px;
    width: 45%;
  }

  .collections-text__descr {
    max-width: 334px;
  }

  .collections__image {
    width: 39.9%;
  }
}

.multiple {
  justify-content: center;

  .collections-text {
    align-items: flex-end;
    margin-right: 153px;
    max-width: 365px;
    margin-left: 334px;
    text-align: right;
  }

  .collections__image {
    display: inline-flex;
    justify-content: center;
    align-items: unset;
    width: 31.3%;
    height: 390px;
  }
}

.floor {
  .collections-text {
    margin-left: 85px;
    width: 48%;

    &__descr {
      width: 334px;
    }
  }

  .collections__image {
    margin-left: 207px;
    width: 51.3%;
    height: 390px;
  }
}

.squares {
  justify-content: center;

  .collections-text {
    align-items: flex-end;
    margin-right: 155px;
    max-width: 365px;
    margin-left: 474px;
    text-align: right;
  }

  .collections__image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 420px;
  }
}
