.filters {
  padding-bottom: 150px;

  @include small-tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 70px;
  }


  &__container {
    display: flex;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
    color: var(--black-color);

    @include md-tablet {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__choice {
    @include md-tablet {
      display: flex;
      flex-direction: column;
      width: 280px;
    }

    @include mini-mobile {
      width: 100%;
    }
  }

  &__left {
    width: 280px;
    margin-right: calc(100% - 74.6% - 280px);

    @include big-desktop {
      margin-right: 70px;
    }

    @include tablet {
      margin-right: 40px;
    }

    @include md-tablet {
      position: fixed;
      left: 0;
      top: 0;
      display: block;
      z-index: 200;
      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      padding: 21px 32px 80px 32px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transform: translateX(-100%);
      transition: transform .3s, opacity .3s, visibility .3s;

    }

    @include mobile {
      width: 100%;
      padding: 20px 20px 60px 20px;
    }

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: transform .3s, opacity .3s, visibility .3s;
    }

  }

  &-mobile {
    display: none;

    @include md-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;

      @include mobile {
        margin-bottom: 30px;
      }

      &__title {
        margin: 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;

        @include mobile {
          font-size: 22px;
          line-height: 30px;
        }
      }

      svg {
        width: 15px;
        height: 16px;
        fill: #272727;
      }
    }
  }
}

.check {
  position: relative;
  padding-left: 44px;
  font-size: 20px;
  line-height: 26px;
  color: rgba(#272727, 0.8);
  transition: color .3s;
  cursor: pointer;

  @include mobile {
    font-size: 16px;
  }

  &__box {
    position: absolute;
    top: 50%;
    border: 1px solid var(--black-color);
    border-radius: 2px;
    margin-left: -36px;
    width: 22px;
    height: 22px;
    transform: translateY(-50%);

    @include mobile {
      width: 16px;
      height: 16px;
    }
  }

  &__input:checked + &__box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 13px;
    height: 10px;
    background-image: url("../img/svg/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  &__input:focus-visible + &__box {
    outline: 1px solid var(--black-color);
    outline-offset: 4px;
  }
}

.choice-categories {
  padding-bottom: 80px;

  @include md-tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 30px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#8F5C44, 0.4);
    padding-bottom: 15px;
    width: 100%;

    @include mobile {
      padding-bottom: 5px;
    }

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }

  &__item + &__item {
    margin-top: 28px;
  }

  &__text {
    font-size: 20px;
    opacity: 0.8;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 8px;
    transition: all .3s;

    &:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color: rgba(#272727, 0.8);
      transition: all .3s;
    }

    &:after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color: rgba(#272727, 0.8);
      transform: rotate(90deg);
      transition: all .1s;
    }

    &--active {
      &:after {
        width: 0;
        height: 0;
      }
    }
  }
}

.choice-price {
  order: -1;
  padding-bottom: 80px;

  @include md-tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 80px;

    @include md-tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  &__input {
    &:focus {
      outline: none;
    }
  }

  &__label {
    position: relative;
    width: 60px;

    &:before {
      content: "$";
      position: absolute;
      top: 2px;
      right: -5px;
    }
  }
}

.choice-price__input::-webkit-outer-spin-button,
.choice-price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.choice-size__input::-webkit-outer-spin-button,
.choice-size__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.choice-price__input[type=number] {
  -moz-appearance: textfield;
}

.noUi-target {
  border-radius: 2px;
  border: none;
  height: 1px;
  background-color: #8F5C44;
  box-shadow: none;
}



.noUi-connects {
  border-radius: 1px;
}

.noUi-connect {
  border: 1px solid var(--black-color);
}

.choice-price .noUi-horizontal .noUi-handle {
  top: -7px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid #8F5C44;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.noUi-handle {

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

.choice-view {
  padding-bottom: 80px;

  @include md-tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 30px;
  }

  &__title {
    display: flex;
    width: 100px;
    position: relative;
    margin-bottom: 80px;
    cursor: pointer;

    @include md-tablet {
      margin-bottom: 24px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 6px;
      bottom: 8px;
      width: 15px;
      height: 7px;
      background-image: url('../img/svg/arrow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: all .3s;
    }

    &--active {
      &:before {
        transform: rotate(180deg);
      }

    }
  }

  &__btn {
    display: none;
    border: 1px solid var(--black-color);
    padding: 13px 94px;
    font-size: 20px;
    transition: background-color .3s, color .3s;

    @include mobile {
      padding: 10px 80px;
      font-size: 16px;
    }

    &--active {
      display: block;
    }

    &:hover {
      color: #fff;
      background-color: rgba(#272727, 0.8);
      transition: background-color .3s, color .3s;
    }
  }
}

.choice-size {
  padding-bottom: 80px;

  @include md-tablet {
    padding-bottom: 60px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#8F5C44, 0.4);
    transition: all .3s;

    &--active {
      border-bottom: 1px solid rgba(#8F5C44, 1);
    }
  }

  &__item +  &__item {
    margin-top: 39px;

    @include mobile {
      margin-top: 25px;
    }
  }

  &__text {
    max-width: 105px;
    font-size: 20px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__input {
    border-left: 1px solid rgba(#8F5C44, 0.4);
    border-top: 1px solid rgba(#8F5C44, 0.4);;
    border-right: 1px solid rgba(#8F5C44, 0.4);
    width: 55px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    transition: all .3s;

    &:focus {
      outline: none;
      border-left: 1px solid rgba(#8F5C44, 1);
      border-top: 1px solid rgba(#8F5C44, 1);
      border-right: 1px solid rgba(#8F5C44, 1);
    }
  }
}

.choice-style {
  padding-bottom: 80px;

  @include md-tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;

    @include mobile {
      row-gap: 30px;
    }

  }

  &__item {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    color: rgba(#272727, 0.7);
    transition: all .3s;
    cursor: pointer;

    @include md-tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }

    span {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #8F5C44;
        transition: all .3s;
      }
    }

    @include hover {
      span {
        &::before {
          width: 100%;
        }
      }
    }

    &--active {
      position: relative;
      color: var(--black-color);

      span {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #8F5C44;
        }
      }

    }
  }
}

.choice-color {
  padding-bottom: 20px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 40px;

    @include mobile {
      row-gap: 20px;
    }
  }

  &__item {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .3s;

    @include mobile {
      width: 35px;
      height: 35px;
    }

    &--active {
      border: 1px solid var(--black-color);
      transition: border .3s;
    }

    &--gray {
      background-color: #EBEAEA;
    }

    &--cashmere {
      background-color: #E5C19E;
    }

    &--white {
      background-color: #FAF6F2;
    }

    &--black {
      background-color: #424141;
    }

    &--green {
      background-color: #D2E2D7;
    }

    &--snuff {
      background-color: #DFD3E7;
    }

    &--orange {
      background-color: #B8682C;
    }

    &--blue {
      background-color: #DEEFFF;
    }
  }
}
