.footer {
  background-color: #474747;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 80px 135px;
    height: 610px;

    @include xxl-desktop {
      padding: 80px 100px;
    }

    @include big-desktop {
      padding: 80px 30px;
    }

    @include md-tablet {
      display: grid;
      height: auto;
      padding: 60px 30px 90px 120px;
    }

    @include mobile {
      padding: 30px 15px 80px 15px;
    }

  }

  &__title-link {
    display: inline-block;
    margin: 0;
    height: fit-content;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;

    &:focus {
      outline: 1px solid var(--white-color);
      outline-offset: 2px;
      transition: none;
    }

    @include xxl-desktop {
      margin-right: 50px;
    }

    @include md-tablet {
      margin-right: 0;
      margin-bottom: 82px;
      font-size: 24px;
      line-height: 30px;
    }

    @include mobile {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    @include md-tablet {
      display: grid;
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &-nav {
    margin-right: 327px;
    width: 810px;

    @include big-desktop {
      margin-right: 200px;
    }

    @include xl-tablet {
      margin-right: 100px;
    }

    @include tablet {
      margin-right: 50px;
    }

    @include md-tablet {
      margin-right: 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      flex-direction: column;

      &:nth-child(2),
      &:nth-child(3) {
        @include md-tablet {
          display: none;
        }
      }
    }


    &__title {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 24px;
      color: #fff;

      @include md-tablet {
        display: none;
      }
    }

    &__link {
      position: relative;
      width: fit-content;
      font-size: 20px;
      line-height: 30px;
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0%;
        height: 1px;
        background-color: #fff;
        transition: all .3s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      &:focus {
        outline: 1px solid var(--white-color);
        outline-offset: 2px;
        transition: none;
      }

      @include md-tablet {
        font-size: 24px;
        line-height: 28px;
      }

      @include mobile {
        font-size: 18px;
        line-height: 26px;
      }
    }

    &__link + &__link {
      margin-top: 30px;

      @include mobile {
        margin-top: 20px;
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include md-tablet {
      position: absolute;
      right: 30px;
      bottom: 100px;
    }

    @include mobile {
      right: 15px;
      bottom: 90px;
    }

    .footer__basket {
      display: flex;
      justify-content: flex-end;
      width: fit-content;

      @include md-tablet {
        display: none;
      }

      &:focus {
        outline: 1px solid var(--white-color);
        outline-offset: 2px;
        transition: none;
      }
    }

    .footer__basket.basket--active {
      background-color: transparent;

      svg rect {
        stroke: var(--black-color);
        transition: all .3s;
      }

      svg path {
        fill: var(--black-color);
        transition: all .3s;
      }

      &:hover {
        svg rect {
          stroke: #fff;
        }

        svg path {
          fill: #fff;
        }
      }
    }

    .footer__scroll-top {
      display: inline-flex;

      &:focus {
        outline: 1px solid var(--white-color);
        outline-offset: 2px;
        transition: none;
      }

      svg {
        &:hover {
          path {
            stroke: var(--accent-color);
          }
        }
      }


      @include mobile {
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    svg {
      cursor: pointer;

      rect {
        transition: all .3s;
      }

      path {
        transition: all .3s;
      }

      &:hover {
        rect {
          stroke: var(--accent-color);
        }

        path {
          fill: var(--accent-color);
        }
      }
    }
  }



  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 334px;

    @include xxl-tablet {
      flex-direction: column;
      justify-content: initial;
      padding-left: 0;
    }
  }

  &__basket--active {
    svg {
      fill: #fff;
      transition: all .3s;

      path {
        fill: var(--black-color);
        transition: all .3s;
      }
    }
  }


  &__mobile-links {
    display: none;

    @include md-tablet {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__mobile-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.6);


    @include mobile {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__mobile-link + &__mobile-link {
    @include md-tablet {
      margin-top: 36px;
    }

    @include mobile {
      margin-top: 20px;
    }
  }

  &__mobile-title {
    display: none;

    @include md-tablet {
      display: block;
      margin-bottom: 36px;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      color: var(--white-color);

      @include mobile {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

.form {

  @include xxl-tablet {
    display: none;
  }

  &__text {
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
  }

  &__group {
    position: relative;
    display: inline-block;
    margin-right: 40px;
  }

  &__label {
    position: absolute;
    top: -15px;
    left: 2px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    transition: all .3s;

  }

  &__input {
    position: relative;
    outline: none;
    z-index: 10;
    width: 417px;
    font-size: 20px;
    height: 49px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    transition: all .3s;
    cursor: pointer;


    &:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      transition: all .3s;

      & ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
        top: -22px;
        font-size: 14px;
        transition: all .3s;
      }
    }

    &:active {
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      transition: all .3s;

      & ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
        top: -22px;
        font-size: 14px;
        transition: all .3s;
      }
    }
  }

  &__btn {
    padding: 11px 41px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    transition: all .3s;

    &:hover {
      transform: scale(1.03);
    }

    &:focus {
      outline: 1px solid var(--white-color);
      outline-offset: 4px;
      transition: none;
    }
  }
}

.social {
  display: flex;
  align-items: flex-end;

  &__item + &__item {
    margin-left: 40px;
  }

  &__link {
    display: inline-block;

    &:focus {
      outline: 1px solid var(--white-color);
      outline-offset: 2px;
      transition: none;
    }

    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      transition: all .3s;

      &:hover {
        fill: var(--accent-color);
      }


    }
  }
}
