.header {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 40px;
  width: 100%;
  z-index: 5;

  &-main {
    position: absolute;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;

    @include xl-tablet {
      display: none;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item + &__item {
    margin-left: 64px;
  }

  &__logo {
    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }

  &__logo-text {
    margin: 0;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;

    @include xxl-tablet {
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.nav {
  &__list {
    display: flex;

    @include xl-tablet {
      display: none;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }

    &--active {
      opacity: 1;

      &:hover.nav__link:hover::before {
        width: 0%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0%;
      height: 1px;
      background-color: var(--black-color);
      transition: all .3s;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  &__item + &__item {
    margin-left: 69px;

    @include xl-desktop {
      margin-left: 30px;
    }
  }
}

.search {
  button {
    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }
  svg path {
    transition: all .3s;
  }

  &:hover {
    svg path {
      stroke: var(--accent-color);
    }
  }
}


.favorites {

  a {
    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }

  svg path {
    transition: all .3s;
  }

  &:hover {
    svg path {
      fill: var(--accent-color);
    }
  }
}

.basket {

  button {
    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }
  position: relative;
  height: 40px;
  background-color: transparent;
  transition: all .3s;

  svg rect {
    transition: all .3s;
  }

  svg path {
    transition: all .3s;
  }

  &:hover {
    svg rect {
      stroke: var(--accent-color);
    }

    svg path {
      fill: var(--accent-color);
    }
  }

  &__quantity {
    position: absolute;
    display: none;
    right: 5px;
    top: 2px;
    font-size: 13px;
    color: #FF0000;
    transition: all .3s;
  }

  &--active {
    .basket__quantity {
      display: block;
    }
  }
}

.basket.basket--active {
  background-color: #EBEBEB;
  transition: all .3s;
}


.burger {
  display: none;

  @include xl-tablet {
    display: block;
    @include burger
  }
}
