.menu-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  border-top: 2px solid rgba(39, 39, 39, 0.15);
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  height: 90px;
  width: 100%;
  background-color: #FFFFFF;
  transform: translateY(100%);
  transition: opacity .3s, visibility .3s, transform .3s;

  @include mobile {
    height: 70px;
  }


  &--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .3s, visibility .3s, transform .3s;
  }

  &__nav {
    height: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 107px;
    padding-right: 107px;
    height: 100%;

    @include mobile {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include mini-mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    svg {
      @include mobile {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__link {

    &-home {
      svg {
        width: 32px;
        height: 36px;
        fill: #BFC2C8;

        @include mobile {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  @include md-tablet {
    display: block;
  }

}

.menu-fixed__btn.basket--active {
  background-color: transparent;

  .basket__quantity {
    width: 20px;
    height: 20px;
    font-size: 14px;
    background-color: #8F5C44;
  }
}
