.favorites {

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include mini {
      display: flex;
      flex-direction: column;
    }
  }
  &-page {
    padding-bottom: 150px;
  }

  &__links {
    text-align: center;
  }

  &__to-cart {
    display: inline-block;
    border: 1px solid var(--black-color);
    padding: 12px 77px;
    font-size: 20px;
    color: #fff;
    background-color: var(--black-color);
    transition: all .3s;

    @include hover {
      color: var(--black-color);
      background-color: transparent;
    }
  }

  &__continue {
    display: inline-block;
    margin-left: 30px;
    border: 1px solid var(--black-color);
    padding: 12px 37px;
    font-size: 20px;
    transition: all .3s;

    @include hover {
      color: #fff;
      background-color: var(--black-color);
    }

    @include mini-mobile {
      margin-left: 0;
    }
  }
}

.order {
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // column-gap: 30px;
  // grid-auto-flow: column;
  grid-column: 1 / 12 span;
  padding-top: 46px;

  @include mobile {
    padding-top: 0;
  }


  &__titles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    // display: flex;
    // justify-content: space-between;
    // padding-left: 260px;
    // padding-right: 442px;
  }

  &-title {
    display: block;
    margin: 0;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
  }

  &__title {
    &-product {
      grid-column: 3 / 2 span;
    }

    &-color {
      // margin-left: 299px;
      grid-column: 7 / 1 span;
    }

    &-price {
      grid-column: 9 / 1 span;
    }
  }

  &__list {
    padding-bottom: 100px;

    @include mobile {
      padding-bottom: 50px;
    }
  }

  &__image {
    grid-column: 3 / 2 span;
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #F8F2EC;
    border: 1px solid rgba(#272727, 0.7);
    // transform: translateX(19px);

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__picture {
    max-width: 180px;
    max-height: 180px;
    width: fit-content;
    height: fit-content;
    object-fit: contain;
  }

  &__item {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    border-bottom: 1px solid rgba(#8F5C44, 0.7);
    padding-top: 44px;
    // padding-left: 42px;
    padding-bottom: 80px;
  }

  &__delete {
    grid-column: 1 / 1 span;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }
  }

  &-text {
    grid-column: 5/2 span;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    // transform: translateX(-64px);
  }

  &-text__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
  }

  &-text__descr {
    margin: 0;
    font-size: 14px;
    color: rgba(#272727, 0.7);
  }

  &__color {
    grid-column: 7/1 span;
    justify-self: center;
    align-self: center;
    width: 30px;
    height: 30px;
    // transform: translateX(-45px);
    pointer-events: none;
  }

  &__price {
    grid-column: 9 / 1 span;
    justify-self: center;
    align-self: center;
    // transform: translateX(-21px);

    &.card-info__price {
      margin-left: 0;
      margin-right: 0;
    }

  }

  &__to-cart {
    grid-column: 11 / 2 span;
    justify-self: center;
    align-self: center;
    border: 1px solid var(--black-color);
    padding: 15px 50px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: var(--black-color);
    transition: all .3s;

    @include hover {
      color: var(--black-color);
      background-color: transparent;
    }
  }
}

.cart-page {
  padding-bottom: 150px;

  @include small-tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 50px;
  }

  &__titles {
    // padding-left: 193px;
    padding-right: 0px;
  }

  &__image {
    width: 205px;
    height: 205px;
  }

  &__picture {
    max-width: 205px;
    max-height: 205px;
    width: fit-content;
    height: fit-content;
  }

  &__title-product {
    grid-column: 2/2 span;
  }

  &__title-color {
    grid-column: 6/1 span;
    // margin-left: 272px;
  }

  &__title-price {
    grid-column: 8/1 span;
    // margin-left: 272px;
  }

  &__title-quantity {
    grid-column: 9/2 span;
    justify-self: center;
  }

  &__title-total {
    grid-column: 12/1 span;
  }


  &__links {
    margin-top: 60px;
    text-align: start;

    @include md-tablet {
      display: flex;
      justify-content: center;
    }

    @include mini-mobile {
      align-items: center;
      flex-direction: column;
    }
  }

  &__list {
    .cart-page__total::before {
      left: 5px;
    }
  }

  // .order__item {

  // }

  .order__image {
    grid-column: 2/2 span;
    transform: translateX(0);
  }

  .order-text {
    grid-column: 4/2 span;
    // transform: translateX(-90px);
  }

  .order__color {
    grid-column: 6/1 span;
    // transform: translateX(-70px);
  }

  .order__price {
    grid-column: 8/1 span;
    // transform: translateX(-29px);
  }

  .stepper {
    grid-column: 9/2 span;
    align-self: center;
    justify-self: center;
    // width: auto;
  }

  .cart-page__total.card-info__price {
    grid-column: 12/1 span;
    align-self: center;
    margin-left: 0;
    margin-right: 0;

    &::before {
      left: 8px;
    }
  }

  &__total {
    display: flex;
    justify-content: center;
    min-width: 120px;
    // transform: translateX(20px);

    .card-info__price::before {
      left: 10px;
    }
  }

  &__order {
    padding: 18px 57px;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 4px;
      transition: none;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      width: 250px;
      padding: 12px 10px;
      font-size: 16px;
    }

    @include mini-mobile {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__continue {
    padding: 18px 37px;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 4px;
      transition: none;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      width: 250px;
      padding: 12px 10px;
      font-size: 16px;
    }

    @include mini-mobile {
      width: 100%;
    }
  }
}


.cart-amount {
  border-bottom: 1px solid rgba(#8F5C44, 0.4);

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 40px;

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 32px;
    }

    @include mini-mobile {
      font-size: 28px;
    }
  }

  &__total {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 42px;

    &::before {
      content: "$";
      position: absolute;
      left: -10px;
      top: 5px;
      font-size: 24px;
    }
  }
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  width: 170px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  // transform: translateX(-23px);

  &__input {
    width: 75px;
    height: 52px;
    font-weight: 400;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    transition: all .2s;

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:focus {
      outline: 1px solid var(--black-color);
      transition: none;
    }
  }
}

.cart-product__stepper.stepper {
  @include mobile {
    width: 140px;
  }

  @include mini-mobile {
    width: 80px;
  }

  .stepper__input {
    @include mini-mobile {
      width: 40px;
      height: 30px;
      font-size: 22px;
    }
  }

  .stepper__btn {
    @include mini-mobile {
      font-size: 20px;
    }
  }
}


