.favorites {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include mini {
      display: flex;
      flex-direction: column;
    }
  }

  &-page {
    padding-bottom: 150px;

    @include small-tablet {
      padding-bottom: 100px;
    }

    @include mobile {
      padding-bottom: 70px;
    }
  }

  &__links {
    text-align: center;

    @include xl-mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__to-cart {
    display: inline-block;
    border: 1px solid var(--black-color);
    padding: 12px 77px;
    font-size: 20px;
    color: #fff;
    background-color: var(--black-color);
    transition: background-color .3s, color .3s;

    &:hover {
      color: var(--black-color);
      background-color: transparent;
      transition: background-color .3s, color .3s;
    }
  }

  &__continue {
    display: inline-block;
    margin-left: 30px;
    border: 1px solid var(--black-color);
    padding: 12px 37px;
    font-size: 20px;
    transition: background-color .3s, color .3s;

    &:hover {
      color: #fff;
      background-color: var(--black-color);
      transition: background-color .3s, color .3s;
    }

    @include xl-mobile {
      order: -1;
      margin-bottom: 20px;
      margin-left: 0;
    }

    @include mini-mobile {
      margin-left: 0;
    }
  }
}

.order {
  grid-column: 1 / 12 span;
  padding-top: 46px;

  @include tablet {
    padding-top: 0;
  }

  &__titles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include xxl-tablet {
      display: none;
    }
  }

  &-title {
    display: block;
    margin: 0;
    font-family: "KronaOne";
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;

    @include big-desktop {
      font-size: 23px;
    }
  }

  &__title {
    &-product {
      grid-column: 3 / 2 span;
    }

    &-color {
      grid-column: 7 / 1 span;
    }

    &-price {
      grid-column: 9 / 1 span;
    }
  }

  &__list {
    padding-bottom: 100px;

    @include mobile {
      padding-bottom: 50px;
    }
  }

  &__image {
    grid-column: 3 / 2 span;
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #F8F2EC;
    border: 1px solid rgba(#272727, 0.7);

    picture {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        @include mini-mobile {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  &__picture {
    max-width: 180px;
    max-height: 180px;
    width: fit-content;
    height: fit-content;
    object-fit: contain;

    @include mini-mobile {
      max-width: auto;
      width: 100%;
    }

  }

  &__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    border-bottom: 1px solid rgba(#8F5C44, 0.7);
    padding-top: 44px;
    padding-bottom: 80px;

    &:not(:last-child) {
      @include xxl-tablet {
        margin-bottom: 60px;
      }

      @include mobile {
        margin-bottom: 30px;
      }
    }

    @include xxl-tablet {
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
      border-bottom: initial;
      padding-top: 0;
      padding-bottom: 0;
    }

    @include xl-mobile {
      grid-template-columns: 2fr 3fr;
    }

    @include mobile {
      grid-template-columns: 6fr 7fr;
    }

    @include mini-mobile {
      column-gap: 15px;
    }
  }

  &__wrapper {
    grid-column: 4 / 9 span;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 30px;

    @include xxl-tablet {
      grid-column: initial;
      grid-template-columns: 1fr 1fr;
      row-gap: 24px;
    }

    @include mobile {
      row-gap: 10px;
    }

  }

  &__delete {
    grid-column: 1 / 1 span;
    justify-self: center;
    align-self: center;

    svg g {
      transition: opacity .3s;
    }

    &:hover {
      svg g {
        opacity: 1;
        transition: opacity .3s;
      }
    }

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 2px;
      transition: none;
    }

    &-wrapper--mobile {
      display: none;
      align-self: center;
      justify-self: center;

      @include xxl-tablet {
        display: block;
        grid-column: initial;
        justify-self: end;
        order: -1;
      }

      .order__delete {
        @include xxl-tablet {
          display: flex;
          align-items: center;
          font-size: 18px;
          color: var(--black-color);
        }

        @include mobile {
          font-size: 16px;
        }

        svg {
          margin-left: 15px;
          width: 12px;
          height: 12px;
        }

        svg g {
          opacity: 1;
        }
      }
    }

    @include xxl-tablet {
      display: none;
    }
  }

  &-text {
    grid-column: 5/2 span;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 160px;

    @include xxl-tablet {
      max-width: none;
    }
  }

  &-text__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-transform: capitalize;

    @include md-tablet {
      font-family: "Gilroy", sans-serif;
      margin-bottom: 10px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &-text__descr {
    margin: 0;
    font-size: 14px;
    color: rgba(#272727, 0.7);

    @include mobile {
      max-width: 250px;
      font-size: 13px;
    }

    @include mini-mobile {
      display: none;
    }
  }

  &__color {
    grid-column: 7/1 span;
    justify-self: center;
    align-self: center;
    width: 30px;
    height: 30px;
    pointer-events: none;
  }

  &__price {
    grid-column: 9 / 1 span;
    justify-self: center;
    align-self: center;

    &.card-info__price {
      margin-left: 0;
      margin-right: 0;
    }

  }

  &__to-cart {
    grid-column: 11 / 2 span;
    justify-self: center;
    align-self: center;
    border: 1px solid var(--black-color);
    padding: 15px 50px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: var(--black-color);
    transition: background-color .3s, color .3s;

    &:hover {
      color: var(--black-color);
      background-color: transparent;
      transition: background-color .3s, color .3s;
    }

    @include xl-desktop {
      padding: 15px 20px;
    }
  }
}

.cart-page {
  padding-bottom: 150px;

  @include small-tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 50px;
  }

  &__titles {
    padding-right: 0px;
  }

  &__image {
    width: 205px;
    height: 205px;

    @include xxl-tablet {
      width: 85%;
      height: 290px;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      height: 230px;
    }

    @include mini-mobile {
      height: 200px;
    }

    @include mini {
      height: 170px;
    }
  }

  &__picture {
    max-width: 205px;
    max-height: 205px;
    width: fit-content;
    height: fit-content;
  }

  &__title-product {
    grid-column: 2/2 span;
  }

  &__title-color {
    grid-column: 6/1 span;

    @include big-desktop {
      grid-column: 8/1 span;
    }
  }

  &__title-price {
    grid-column: 8/1 span;

    @include big-desktop {
      grid-column: 9/1 span;
    }
  }

  &__title-quantity {
    grid-column: 9/2 span;
    justify-self: center;

    @include big-desktop {
      grid-column:  10 / 2 span;
    }
  }

  &__title-total {
    grid-column: 12/1 span;
  }


  &__links {
    margin-top: 60px;
    text-align: start;

    @include md-tablet {
      display: flex;
      justify-content: center;
    }

    @include xl-mobile {
      align-items: center;
    }

    @include mini-mobile {
      align-items: center;
      flex-direction: column;
    }
  }

  &__list {
    .cart-page__total::before {
      left: 5px;
    }
  }

  .order__image {
    grid-column: 2/2 span;
    transform: translateX(0);

    @include xxl-tablet {
      grid-column: initial;
    }
  }

  .order-text {
    grid-column: span 2;

    @include big-desktop {
      grid-column:  2/2 span;
    }

    @include xxl-tablet {
      grid-column: span 2;
      justify-self: start;
    }
  }

  .order__color {
    grid-column: 3/1 span;

    @include big-desktop {
      grid-column: 5/1 span;
    }

    @include xxl-tablet {
      position: relative;
      margin-left: 70px;
      grid-column: span 1;
      justify-self: start;

      &::after {
        content: "Color:";
        position: absolute;
        top: 50%;
        left: -70px;
        font-size: 20px;
        line-height: 30px;
        opacity: 0.8;
        transform: translateY(-50%);

      }
    }

    @include mobile {
      grid-column: span 2;
      margin-left: 55px;

      &::after {
        left: -55px;
        font-size: 16px;
      }
    }
  }

  .order__price {
    grid-column: 5/1 span;


    @include big-desktop {
      grid-column: 6/1 span;
    }

    @include xxl-tablet {
      justify-self: start;
      order: -1;
      grid-column: initial;
    }

    @include mini-mobile {
      font-size: 20px;

    }

    &::before {
      @include mini-mobile {
        left: -11px;
        top: 1px;
      }
    }
  }

  .stepper {
    grid-column: 6/2 span;
    align-self: center;
    justify-self: center;

    @include big-desktop {
      grid-column: 7/2 span;
    }

    @include xxl-tablet {
      grid-column: span 1;
      justify-self: end;
    }

    @include mobile {
      grid-column: span 2;
      justify-self: start;
      width: 140px;
    }

    &__input {
      @include md-tablet {
        background-color: #FCF8F5;
      }

      @include mobile {
        width: 60px;
        height: 40px;
      }
    }
  }

  .cart-page__total.card-info__price {
    grid-column: 9/1 span;
    align-self: center;
    margin-left: 0;
    margin-right: 0;

    &::before {
      left: 8px;

      @include big-desktop {
        left: 0;
      }
    }

    @include xxl-tablet {
      display: none;
    }
  }

  &__total {
    display: flex;
    justify-content: center;
    min-width: 90px;

    @include big-desktop {
      min-width: auto;
    }

    .card-info__price::before {
      left: 10px;
    }
  }

  &__order {
    padding: 18px 57px;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 4px;
      transition: none;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      width: 250px;
      padding: 12px 10px;
      font-size: 16px;
    }

    @include mini-mobile {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__continue {
    padding: 18px 37px;

    &:focus {
      outline: 1px solid var(--black-color);
      outline-offset: 4px;
      transition: none;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      width: 250px;
      padding: 12px 10px;
      font-size: 16px;
    }

    @include mini-mobile {
      width: 100%;
    }
  }
}


.cart-amount {
  border-bottom: 1px solid rgba(#8F5C44, 0.4);

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'KronaOne';
    font-weight: 400;
    font-size: 40px;

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 32px;
    }

    @include mini-mobile {
      font-size: 28px;
    }
  }

  &__total {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 42px;

    @include mini-mobile {
      font-size: 38px;
    }

    &::before {
      content: "$";
      position: absolute;
      left: -10px;
      top: 5px;
      font-size: 24px;
    }
  }
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  width: 170px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;

  &__input {
    width: 75px;
    height: 52px;
    font-weight: 400;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    transition: all .2s;

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:focus {
      outline: 1px solid var(--black-color);
      transition: none;
    }
  }
}

.cart-product__stepper.stepper {
  @include mobile {
    width: 140px;
  }

  @include mini-mobile {
    width: 80px;
  }

  .stepper__input {
    @include mini-mobile {
      width: 40px;
      height: 30px;
      font-size: 22px;
    }
  }

  .stepper__btn {
    @include mini-mobile {
      font-size: 20px;
    }
  }
}

.favorites-page {

  .order__item {
    @include mini-mobile {
      grid-template-columns: 2fr 1fr;
    }
  }

  .order__title-product {
    grid-column: 2/2 span;
  }

  .order__image {
    grid-column: 2/2 span;

    @include xxl-tablet {
      grid-column: span 1;
      width: 90%;
      height: 290px;
    }

    @include md-tablet {
      width: 100%;
    }

    @include mobile {
      height: 230px;
    }

    @include mini-mobile {
      grid-column: 2 span;
      margin-bottom: 20px;
      height: 200px;
    }

    @include mini {
      height: 170px;
    }

    picture {
      @include mini-mobile {
        width: 100%;
      }
    }

    picture img {
      @include mini-mobile {
        width: 100%;
      }
    }
  }

  .order__wrapper {
    @include mini-mobile {
      grid-column: 2 span;
    }
  }

  .order__picture {
    @include xxl-tablet {
      max-height: none;
      width: auto;
      height: 210px;
    }

    @include mini-mobile {
      padding-left: 0;
      padding-right: 0;
      height: 200px;
    }

    @include mini {
      height: 170px;
    }
  }

  .order-text {
    grid-column: span 2;

    @include xxl-tablet {
      grid-column: span 2;
      justify-self: start;
    }

    @include mini-mobile {
      order: -1;
      grid-column: 1 span;
    }

    &__title {
      @include mini-mobile {
        margin-bottom: 0;
      }
    }
  }

  .order__color {
    grid-column: 4/1 span;

    @include xxl-tablet {
      position: relative;
      margin-left: 70px;
      grid-column: span 1;
      justify-self: start;
    }

    &::before {
      @include xxl-tablet {
        content: "Color:";
        position: absolute;
        top: 50%;
        left: -70px;
        font-size: 20px;
        line-height: 30px;
        opacity: 0.8;
        transform: translateY(-50%);
      }
    }
  }

  .order__price {
    grid-column: 6/1 span;

    @include xxl-tablet {
      justify-self: start;
      order: -1;
      grid-column: initial;
    }

    @include mini-mobile {
      justify-self: end;
      order: 0;
      grid-column: 1 span;
    }
  }

  .order__to-cart {
    grid-column: 8/2 span;

    @include xxl-tablet {
      grid-column: span 1;
      justify-self: end;
    }

    @include xl-mobile {
      padding: 10px 15px;
      font-size: 18px;
    }

    @include mobile {
      grid-column: 2 span;
      font-size: 14px;
    }
  }

  .order__delete-wrapper--mobile {
    @include xxl-tablet {
      grid-column: initial;
      justify-self: end;
      order: -1;
    }
  }
}


