<section class="about">
  <div class="container about__container">
    <h2 class="about__title title">About us</h2>
    <p class="about__descr">Radiance is a premium lighting store. If you want to buy a chandelier or beautiful lamps,
      then you will definitely like our catalog
    </p>
    <ul class="about__list list-reset">
      <li class="about__item">
        <div class="about__image">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48.5" stroke="#8F5C44" stroke-width="3" />
            <path
              d="M66.504 62.112C66.504 53.544 59.88 50.664 52.536 48.072V27.624C57.144 28.2 60.384 30.648 62.04 34.752L65.28 32.952C63.048 27.552 58.224 24.528 52.536 23.88V17.4H49.152V23.88C41.52 24.384 35.472 29.424 35.472 36.912C35.472 45.48 41.808 48.144 49.152 50.736V72.12C42.456 71.76 38.064 68.736 36.408 63.696L33.096 65.568C35.328 71.76 41.232 75.432 49.152 75.792V82.2H52.536V75.72C60.744 74.928 66.504 69.672 66.504 62.112ZM39.288 36.912C39.288 31.872 43.248 28.056 49.152 27.552V46.848C43.464 44.76 39.288 42.6 39.288 36.912ZM52.536 71.976V51.888C58.44 53.976 62.616 56.352 62.616 62.112C62.616 67.296 59.016 71.256 52.536 71.976Z"
              fill="#965335" fill-opacity="0.8" />
          </svg>
        </div>
        <span class="about__text">
          Free shipping
        </span>
      </li>
      <li class="about__item">
        <div class="about__image">
          <svg width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="97" height="97" stroke="#8F5C44" stroke-width="3" />
            <line x1="32" y1="18.5" x2="67" y2="18.5" stroke="#8F5C44" stroke-width="3" />
            <path
              d="M99 99C99 94.5 99 90 99 86C99 78.4 91.5 74.9091 86.5 74C74 71.7273 65.5 72 57 73M57 73L69 60M57 73L69 86"
              stroke="#8F5C44" stroke-width="3" />
          </svg>
        </div>
        <span class="about__text">
          Easy to return
        </span>
      </li>
      <li class="about__item">
        <div class="about__image">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48.5" stroke="#8F5C44" stroke-width="3" />
            <line x1="51.5" y1="25" x2="51.5" y2="49" stroke="#8F5C44" stroke-width="3" />
            <line x1="50.9762" y1="47.8611" x2="68.4552" y2="62.844" stroke="#8F5C44" stroke-width="3" />
          </svg>
        </div>
        <span class="about__text">
          Easy to order
        </span>
      </li>
      <li class="about__item">
        <div class="about__image">
          <svg width="110" height="76" viewBox="0 0 110 76" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="107" height="73" stroke="#8F5C44" stroke-width="3" />
            <line x1="17" y1="15.5" x2="93" y2="15.5" stroke="#8F5C44" stroke-width="3" />
            <line x1="17" y1="58.5" x2="37" y2="58.5" stroke="#8F5C44" stroke-width="3" />
          </svg>
        </div>
        <span class="about__text">
          Different payment
        </span>
      </li>
    </ul>
  </div>
</section>
