<div class="card-color__overlay">
  <div class="card-color">
    <div class="card-color__content">
      <div class="card-color__top">
        <button class="card-color__close btn-reset">
          <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
              <path d="M1.00218 0.728165L18.4712 17.4984" stroke="#272727" />
              <path d="M17.5859 0.501587L0.99854 17.4984" stroke="#272727" />
            </g>
          </svg>
        </button>
      </div>
      <div class="card-color__main">
        <svg width="29" height="18" viewBox="0 0 29 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6L12.6096 16.9592L28.2844 1.28438" stroke="#272727" />
        </svg>
        <span class="card-color__text">Choose the color of the product</span>
        <span class="card-color__smile"></span>
      </div>
    </div>
  </div>

</div>
