<section class="card-product">
  <div class="container card-product__container">
    <h3 class="card-product__title">
      You might also like
    </h3>
    <div class="card-product__inner">
      <button class="slider-btn-prev btn-reset">
        <svg width="21" height="38" viewBox="0 0 21 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.4" d="M19.7454 1.25322L1.99862 19L19.7454 36.7468" stroke="black" stroke-width="2"
            stroke-linecap="round" />
        </svg>

      </button>
      <button class="slider-btn-next btn-reset">
        <svg width="21" height="38" viewBox="0 0 21 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.74678 0.999311L19.4936 18.7461L1.74678 36.4929" stroke="black" stroke-width="2"
            stroke-linecap="round" />
        </svg>

      </button>
      <div class="swiper product-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-slider__slide">
            <div class="product-slider__card">
              <div class="product-slider__image">
                <picture>
                  <source srcset="img/product-1.avif" type="image/avif">
                  <source srcset="img/product-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-1." class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="product-slider__specific">
                <h4 class="product-slider__title">Retro black
                  <span class="product-slider__outdoors">Outdoors</span>
                </h4>
                <span class="product-slider__size">size: 25”*45” /</span>
                <span class="product-slider__price">500$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-scrollbar product-slider__scroll"></div>
</section>
