<section class="card">
  <div class="container card__container">
    <div class="card__left">
      <div class="card-slider">
        <div class="card-slider__thumbs">
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-1.avif" type="image/avif">
              <source srcset="img/card-1.webp" type="image/webp">
              <img loading="lazy" src="img/card-1.png" class="image" width="204" height="98" alt="">
            </picture>
          </div>
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-2.avif" type="image/avif">
              <source srcset="img/card-2.webp" type="image/webp">
              <img loading="lazy" src="img/card-2.png" class="image" width="204" height="157" alt="">
            </picture>
          </div>
        </div>
        <div class="card-slider__main">
          <picture>
            <source srcset="img/card-1-2x.avif" type="image/avif">
            <source srcset="img/card-1-2x.webp" type="image/webp">
            <img loading="lazy" src="img/card-1-2x.png" class="image" width="467" height="235" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="card__right">
      <div class="card-info">
        <h3 class="card-info__title">Retro black</h3>
        <div class="card-info__prices">
          <span class="card-info__price"></span>
          <span class="card-info__save"></span>
        </div>
        <p class="card-info__descr">
          Id congue tellus neque fermentum mi leo lorem. Id lobortis est viverra sagittis tincidunt egestas quis odio lorem.
        </p>
      </div>
    </div>
  </div>
</section>
