<div class="cart-overlay">
  <div class="cart-content" data-bar data-simplebar>
    <div class="cart-content__empty cart-empty">
      <div class="cart-empty__top">
        <span>e</span>
        <h4 class="cart-empty__title">Cart is empty</h4>
        <button class="cart-content__close btn-reset">
          <svg
            width="41"
            height="41"
            viewBox="0 0 41 41"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.8">
              <path d="M14.0352 14.521L26.5352 26.521" stroke="#272727" />
              <path d="M25.8672 14.3589L13.998 26.521" stroke="#272727" />
              <circle cx="20.5" cy="20.5" r="20" stroke="#272727" />
            </g>
          </svg>
        </button>
      </div>
      <span class="cart-empty__text"
        >Add items to cart so you can see order details</span
      >
    </div>
    <div class="cart-content__main cart-content__main--hide">
      <div class="cart-content__top">
        <h4 class="cart-content__title">Item added to cart</h4>
        <button class="cart-content__close btn-reset">
          <svg
            width="41"
            height="41"
            viewBox="0 0 41 41"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.8">
              <path d="M14.0352 14.521L26.5352 26.521" stroke="#272727" />
              <path d="M25.8672 14.3589L13.998 26.521" stroke="#272727" />
              <circle cx="20.5" cy="20.5" r="20" stroke="#272727" />
            </g>
          </svg>
        </button>
      </div>
      <ul class="cart-content__list list-reset"></ul>
      <a class="cart-content__link" href="cart.html">
        All products
        <svg
          width="12"
          height="20"
          viewBox="0 0 12 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.16917 0.830828L10.3383 10L1.16917 19.1692"
            stroke="black"
            stroke-linecap="round"
          />
        </svg>
      </a>
      <div class="cart-content__inner">
        <p class="cart-content__descr">
          After placing the order, the manager will contact you to clarify all
          the details
        </p>
        <div class="cart-content__box">
          <span class="cart-content__total">Total amount</span>
          <span class="cart-content__fullprice card-info__price">0</span>
        </div>
      </div>
    </div>
    <a class="cart-content__order" href="order.html">Checkout</a>
    <section class="card-product">
      <div class="card-product__top">
        <h3 class="card-product__title">You might also like</h3>
        <div class="card-product__buttons">
          <button class="cart-btn-prev btn-reset">
            <svg
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.4"
                d="M24.1707 11.8308L15.0015 21L24.1707 30.1692"
                stroke="black"
                stroke-linecap="round"
              />
              <circle opacity="0.4" cx="21" cy="21" r="20.5" stroke="#272727" />
            </svg>
          </button>
          <button class="cart-btn-next btn-reset">
            <svg
              width="49"
              height="49"
              viewBox="0 0 49 49"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.1692 14.8308L30.3383 24L21.1692 33.1692"
                stroke="black"
                stroke-linecap="round"
              />
              <circle cx="24.5" cy="24.5" r="24" stroke="#272727" />
            </svg>
          </button>
        </div>
      </div>
      <div class="card-product__inner">
        <div class="swiper cart-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-3-2.avif" type="image/avif" />
                    <source srcset="img/product-3-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-3-2.png"
                      class="image"
                      width="117"
                      height="146"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Modern black</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">300</span>
                    <span class="product-slider__oldprice">670$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card product-slider__card--centered">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-4.avif" type="image/avif" />
                    <source srcset="img/product-4.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-4.png"
                      class="image"
                      width="117"
                      height="117"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Modern talking</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">450</span>
                    <span class="product-slider__oldprice">700$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-1.avif" type="image/avif" />
                    <source srcset="img/product-1.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-1.png"
                      class="image"
                      width="89"
                      height="144"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Honk Honk</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">500</span>
                    <span class="product-slider__oldprice">650$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-2.avif" type="image/avif" />
                    <source srcset="img/product-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-2.png"
                      class="image"
                      width="75"
                      height="140"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Donk Donk</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">350</span>
                    <span class="product-slider__oldprice">900$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-3-2.avif" type="image/avif" />
                    <source srcset="img/product-3-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-3-2.png"
                      class="image"
                      width="117"
                      height="146"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Monkey black</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">300</span>
                    <span class="product-slider__oldprice">670$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card product-slider__card--centered">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-4.avif" type="image/avif" />
                    <source srcset="img/product-4.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-4.png"
                      class="image"
                      width="117"
                      height="117"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Obama black</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">450</span>
                    <span class="product-slider__oldprice">700$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-1.avif" type="image/avif" />
                    <source srcset="img/product-1.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-1.png"
                      class="image"
                      width="89"
                      height="144"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Retro white</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">500</span>
                    <span class="product-slider__oldprice">650$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide product-slider__slide">
              <div class="product-slider__card">
                <div class="product-slider__image">
                  <picture>
                    <source srcset="img/product-2.avif" type="image/avif" />
                    <source srcset="img/product-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="img/product-2.png"
                      class="image"
                      width="75"
                      height="140"
                      alt=""
                    />
                  </picture>
                </div>
                <div class="product-slider__specific">
                  <h4 class="product-slider__title">
                    <a href="#">Retro black</a>
                  </h4>
                  <div class="product-slider__prices">
                    <span class="product-slider__newprice">350</span>
                    <span class="product-slider__oldprice">900$</span>
                  </div>
                  <button class="product-slider__to-cart">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar cart-slider__scroll"></div>
    </section>
  </div>
</div>

<!-- <li class="cart-content__item">
          <article class="cart-content__product cart-product">
            <div class="cart-product__image">
              <picture>
                <source srcset="img/products-1.avif" type="image/avif">
                <source srcset="img/products-1.webp" type="image/webp">
                <img loading="lazy" src="img/products-1.png" class="cart-product__picture" width="84" height="160" alt="">
              </picture>
            </div>
            <div class="cart-product__text">
              <div class="cart-product__top">
                <h4 class="cart-product__title">Retro Grey</h4>
                <div class="cart-product__select custom-select">
                  <div class="cart-product__color cart-product__color--gold custom-select__top">
                    <span>Gold</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.3371 1.16917L10.168 10.3383L0.998797 1.16917" stroke="#BE9364" stroke-linecap="round" />
                    </svg>
                  </div>
                  <div class="custom-select__dropdown">
                    <ul class="custom-select__list list-reset">
                      <li class="custom-select__item custom-select__item--black" data-color="#272727">Black</li>
                      <li class="custom-select__item custom-select__item--gold" data-color="#BE9364">Gold</li>
                      <li class="custom-select__item custom-select__item--grey" data-color="#D2E2D7">Grey</li>
                    </ul>
                  </div>
                </div>
                <button class="cart-product__delete btn-reset" aria-label="Remove from cart">
                  Delete
                  <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                      <path d="M1.00218 0.728165L18.4712 17.4984" stroke="#272727" />
                      <path d="M17.5859 0.501587L0.99854 17.4984" stroke="#272727" />
                    </g>
                  </svg>
                </button>
              </div>
              <span class="cart-product__size">10'' * 50''</span>
              <div class="cart-product__bottom">
                <div class="cart-product__stepper stepper">
                  <button class="stepper__btn stepper__btn--minus btn-reset" aria-label="minus">-</button>
                  <input class="stepper__input input-reset" type="text" min="1" max="999" value="1">
                  <button class="stepper__btn stepper__btn--plus btn-reset" aria-label="plus">+</button>
                </div>
                <span class="cart-product__price card-info__price">2700</span>
              </div>
            </div>
          </article>
        </li> -->
