<section class="collections">
  <div class="container collections__container">
    <h2 class="collections__title title">Collections</h2>
    <ul class="collections__list list-reset">
      <li class="collections__item minimalistic">
        <div class="collections__image">
          <picture>
            <source srcset="img/collections-1.avif" type="image/avif">
            <source srcset="img/collections-1.webp" type="image/webp">
            <img loading="lazy" src="img/collections-1.png" class="image" width="270" height="398" alt="">
          </picture>
        </div>
        <div class="collections__content collections-text">
          <h3 class="collections-text__title">Minimalistic</h3>
          <p class="collections-text__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum. Pellentesque odio ridiculus augue</p>
          <a class="collections-text__link main-link" href="card-product.html">View more</a>
        </div>
      </li>
      <li class="collections__item multiple">
        <div class="collections__content collections-text">
          <h3 class="collections-text__title">Multiple lamps</h3>
          <p class="collections-text__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum. Pellentesque odio ridiculus augue</p>
          <a class="collections-text__link main-link" href="card-product.html">View more</a>
        </div>
        <div class="collections__image">
          <picture>
            <source srcset="img/collections-2.avif" type="image/avif">
            <source srcset="img/collections-2.webp" type="image/webp">
            <img loading="lazy" src="img/collections-2.png" class="image" width="248" height="372" alt="">
          </picture>
        </div>
      </li>
      <li class="collections__item floor">
        <div class="collections__image">
          <picture>
            <source srcset="img/collections-3.avif" type="image/avif">
            <source srcset="img/collections-3.webp" type="image/webp">
            <img loading="lazy" src="img/collections-3.png" class="image" width="632" height="390" alt="">
          </picture>
        </div>
        <div class="collections__content collections-text">
          <h3 class="collections-text__title">Floor lamps</h3>
          <p class="collections-text__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum. Pellentesque odio ridiculus augue</p>
          <a class="collections-text__link main-link" href="card-product.html">View more</a>
        </div>
      </li>
      <li class="collections__item squares">
        <div class="collections__content collections-text">
          <h3 class="collections-text__title">Squares</h3>
          <p class="collections-text__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum. Pellentesque odio ridiculus augue</p>
          <a class="collections-text__link main-link" href="card-product.html">View more</a>
        </div>
        <div class="collections__image">
          <picture>
            <source srcset="img/collections-4.avif" type="image/avif">
            <source srcset="img/collections-4.webp" type="image/webp">
            <img loading="lazy" src="img/collections-4.png" class="image" width="220" height="270" alt="">
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
