<section class="favorites favorites-page">
  <div class="container favorites__container">
    <div class="order">
      <div class="order__titles">
        <h4 class="order__title-product order-title">Product</h4>
        <h4 class="order__title-color order-title">Color</h4>
        <h4 class="order__title-price order-title">Price</h4>
      </div>
      <ul class="order__list list-reset">
        <li class="order__item">
          <button class="order__delete btn-reset">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.7">
                <path d="M1.00218 0.728165L18.4712 17.4984" stroke="#272727" />
                <path d="M17.5859 0.501587L0.99854 17.4984" stroke="#272727" />
              </g>
            </svg>
          </button>
          <div class="order__image">
            <picture>
              <source srcset="img/product-1.avif" type="image/avif">
              <source srcset="img/product-1.webp" type="image/webp">
              <img loading="lazy" src="img/product-1.png" class="order__picture" width="" height="" alt="">
            </picture>
          </div>
          <div class="order__description order-text">
            <h5 class="order-text__title">Retro gold</h5>
            <p class="order-text__descr">Id congue tellus neque fermentum mi leo lorem</p>
          </div>
          <span class="order__color choice-color__item choice-color__item--orange"></span>
          <span class="order__price card-info__price">300</span>
          <button class="order__to-cart btn-reset">Add to cart</button>
        </li>
        <li class="order__item">
          <button class="order__delete btn-reset">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.7">
                <path d="M1.00218 0.728165L18.4712 17.4984" stroke="#272727" />
                <path d="M17.5859 0.501587L0.99854 17.4984" stroke="#272727" />
              </g>
            </svg>
          </button>
          <div class="order__image">
            <picture>
              <source srcset="img/product-1.avif" type="image/avif">
              <source srcset="img/product-1.webp" type="image/webp">
              <img loading="lazy" src="img/product-1.png" class="order__picture" width="" height="" alt="">
            </picture>
          </div>
          <div class="order__description order-text">
            <h5 class="order-text__title">Retro gold</h5>
            <p class="order-text__descr">Id congue tellus neque fermentum mi leo lorem</p>
          </div>
          <span class="order__color choice-color__item choice-color__item--orange"></span>
          <span class="order__price card-info__price">300</span>
          <button class="order__to-cart btn-reset">Add to cart</button>
        </li>
        <li class="order__item">
          <button class="order__delete btn-reset">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.7">
                <path d="M1.00218 0.728165L18.4712 17.4984" stroke="#272727" />
                <path d="M17.5859 0.501587L0.99854 17.4984" stroke="#272727" />
              </g>
            </svg>
          </button>
          <div class="order__image">
            <picture>
              <source srcset="img/product-1.avif" type="image/avif">
              <source srcset="img/product-1.webp" type="image/webp">
              <img loading="lazy" src="img/product-1.png" class="order__picture" width="" height="" alt="">
            </picture>
          </div>
          <div class="order__description order-text">
            <h5 class="order-text__title">Retro gold</h5>
            <p class="order-text__descr">Id congue tellus neque fermentum mi leo lorem</p>
          </div>
          <span class="order__color choice-color__item choice-color__item--orange"></span>
          <span class="order__price card-info__price">300</span>
          <button class="order__to-cart btn-reset">Add to cart</button>
        </li>
      </ul>
      <div class="favorites__links">
        <a class="favorites__to-cart" href="#">Go to cart</a>
        <a class="favorites__continue" href="#">Continue shopping</a>
      </div>
    </div>
  </div>
</section>
