<section class="filters">
  <div class="container filters__container">
    <h3 class="filters__title">Categories</h3>
    <div class="filters__choice">
      <div class="filters__categories choice-categories">
        <div class="choice-categories__item">
          <span class="choice-categories__text">Chandeliers</span>
          <button class="choice-categories__btn choice-categories__btn--active btn-reset"></button>
        </div>
        <div class="choice-categories__item">
          <span class="choice-categories__text">Fixtures</span>
          <button class="choice-categories__btn btn-reset"></button>
        </div>
        <div class="choice-categories__item">
          <span class="choice-categories__text">Track systems</span>
          <button class="choice-categories__btn btn-reset"></button>
        </div>
        <div class="choice-categories__item">
          <span class="choice-categories__text">Table lamps</span>
          <button class="choice-categories__btn btn-reset"></button>
        </div>
        <div class="choice-categories__item">
          <span class="choice-categories__text">Floor lamps</span>
          <button class="choice-categories__btn btn-reset"></button>
        </div>
        <div class="choice-categories__item">
          <span class="choice-categories__text">Street lamps</span>
          <button class="choice-categories__btn btn-reset"></button>
        </div>
      </div>
      <div class="filters__price choice-price">
        <h3 class="filters__title choice-price__title">Price</h3>
        <div class="choice-price__slider" id="range-slider"></div>
        <div class="choice-price__inputs">
          <label class="choice-price__label">
            <input class="choice-price__input input-reset" type="number" min="100" max="9999" placeholder="3000" maxlength="4"
              id="input-0">
          </label>
          <label class="choice-price__label">
            <input class="choice-price__input input-reset" type="number" min="100" max="9999" placeholder="7000" maxlength="4"
              id="input-1">
          </label>
        </div>
      </div>
      <div class="filters__view choice-view">
        <h3 class="filters__title choice-view__title">View:</h3>
        <button class="choice-view__btn btn-reset">Сeiling</button>
      </div>
      <div class="filters__size choice-size">
        <h3 class="filters__title choice-size__title">Size</h3>
        <div class="choice-size__item">
          <span class="choice-size__text">Height, cm</span>
          <input class="choice-size__input input-reset" type="number" min="10" max="999" maxlength="3"></input>
        </div>
        <div class="choice-size__item">
          <span class="choice-size__text">Width, cm</span>
          <input class="choice-size__input input-reset" type="number" min="10" max="999" maxlength="3"></input>
        </div>
        <div class="choice-size__item">
          <span class="choice-size__text">Depth, cm</span>
          <input class="choice-size__input input-reset" type="number" min="10" max="999" maxlength="3"></input>
        </div>
        <div class="choice-size__item">
          <span class="choice-size__text">Length, cm</span>
          <input class="choice-size__input input-reset" type="number" min="10" max="999" maxlength="3"></input>
        </div>
        <div class="choice-size__item">
          <span class="choice-size__text">Lighting area (m2)</span>
          <input class="choice-size__input input-reset" type="number" min="10" max="999" maxlength="3"></input>
        </div>
      </div>
      <div class="filters__style choice-style">
        <h3 class="filters__title choice-style__title">Style</h3>
        <ul class="choice-style__list list-reset">
          <li class="choice-style__item choice-style__item--active">Loft</li>
          <li class="choice-style__item">Techno</li>
          <li class="choice-style__item">Tiffany</li>
          <li class="choice-style__item">Modern</li>
          <li class="choice-style__item">Art Deco</li>
          <li class="choice-style__item">Country</li>
          <li class="choice-style__item">Ethnic</li>
          <li class="choice-style__item">Floristry</li>
          <li class="choice-style__item">Classic</li>
        </ul>
      </div>
      <div class="filters__color choice-color">
        <h3 class="filters__title choice-color__title">Color</h3>
        <ul class="choice-color__list list-reset">
          <li class="choice-color__item choice-color__item--gray choice-color__item--active"></li>
          <li class="choice-color__item choice-color__item--cashmere"></li>
          <li class="choice-color__item choice-color__item--white"></li>
          <li class="choice-color__item choice-color__item--black"></li>
          <li class="choice-color__item choice-color__item--green"></li>
          <li class="choice-color__item choice-color__item--snuff"></li>
          <li class="choice-color__item choice-color__item--orange"></li>
          <li class="choice-color__item choice-color__item--blue"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
