<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <h3 class="footer__title">Splendor</h3>
      <nav class="footer__nav footer-nav">
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item">
            <strong class="footer-nav__title">Pages</strong>
            <a class="footer-nav__link" href="#">Home</a>
            <a class="footer-nav__link" href="catalog.html">Catalog</a>
            <a class="footer-nav__link" href="#about" data-scroll>About Us</a>
            <a class="footer-nav__link" href="contacts.html">Contacts</a>
          </li>
          <li class="footer-nav__item">
            <strong class="footer-nav__title">Categories</strong>
            <a class="footer-nav__link" href="#">Home</a>
            <a class="footer-nav__link" href="catalog.html">Catalog</a>
            <a class="footer-nav__link" href="#about" data-scroll>About Us</a>
            <a class="footer-nav__link" href="contacts.html">Contacts</a>
          </li>
          <li class="footer-nav__item">
            <strong class="footer-nav__title">Categories</strong>
            <a class="footer-nav__link" href="#">Home</a>
            <a class="footer-nav__link" href="catalog.html">Catalog</a>
            <a class="footer-nav__link" href="#about" data-scroll>About Us</a>
            <a class="footer-nav__link" href="contacts.html">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer__icons">
        <button class="footer__basket basket btn-reset" href="cart.html" aria-label="Modal basket window">
          <span class="basket__quantity">1</span>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="38.016" height="38.016" rx="0.758581" stroke="white" />
            <path
              d="M26.9918 27.3317L25.9625 16.4891C25.9344 16.193 25.6721 15.9662 25.3578 15.9662H23.2352V15.0607C23.2352 13.373 21.7838 12 19.9997 12C18.2158 12 16.7645 13.373 16.7645 15.0607V15.9662H14.6404C14.3262 15.9662 14.0638 16.193 14.0358 16.4891L13.0024 27.3744C12.9872 27.535 13.044 27.6942 13.1591 27.8132C13.2741 27.9322 13.4367 28 13.6071 28H26.3912C26.3917 28 26.3923 28 26.3929 28C26.7282 28 27 27.7428 27 27.4257C26.9999 27.3938 26.9972 27.3623 26.9918 27.3317ZM17.9787 15.0607C17.9787 14.0063 18.8854 13.1486 19.9998 13.1486C21.1144 13.1486 22.0211 14.0063 22.0211 15.0607V15.9662H17.9787V15.0607ZM14.2712 26.8515L15.1955 17.1148H16.7645V18.1417C16.7645 18.4589 17.0362 18.716 17.3716 18.716C17.707 18.716 17.9787 18.4589 17.9787 18.1417V17.1148H22.0211V18.1417C22.0211 18.4589 22.2928 18.716 22.6282 18.716C22.9636 18.716 23.2353 18.4589 23.2353 18.1417V17.1148H24.8029L25.7271 26.8515H14.2712Z"
              fill="white" />
          </svg>
        </button>
        <button class="footer__scroll-top btn-reset" aria-label="Scroll top top">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 32V17M25 17L20 21.1379M25 17L30 21.1379" stroke="white" />
            <rect x="0.5" y="0.5" width="49" height="49" rx="0.5" stroke="white" />
          </svg>
        </button>
      </div>
    </div>
    <div class="footer__bottom">
      <form class="footer__form form" action="#">
        <span class="form__text">Subscribe to the newsletter and be the first to learn about exclusives</span>
        <div class="form__group">
          <input class="form__input input-reset" type="email" name="Email" placeholder="">
          <label class="form__label">Enter your email</label>
        </div>
        <button type="submit" class="form__btn btn-reset">Submit</button>
      </form>
      <ul class="footer__social social list-reset" title="We are in social networks">
        <li class="social__item">
          <a class="social__link social__link--fb" href="#" aria-label="Our Facebook page">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--inst" href="#" aria-label="Our Instagram page">
            <svg class="">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--tw" href="#" aria-label="Our Twitter page">
            <svg class="">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
