<section class="hero-catalog">
  <div class="container hero-catalog__container">
    <div class="hero-catalog__inner">
      <div class="hero-catalog__bg">
        <picture>
          <source srcset="img/hero-catalog.avif" type="image/avif">
          <source srcset="img/hero-catalog.webp" type="image/webp">
          <img loading="lazy" src="img/hero-catalog.png" class="hero-catalog__img" width="1649" height="490" alt="">
        </picture>
        <h2 class="hero-catalog__title">We all bask in the glow</h2>
        <ul class="hero-catalog__breadcrumbs-list catalog-breadcrumbs__list list-reset">
          <li class="catalog-breadcrumbs__item"><a class="catalog-breadcrumbs__link" href="#">Home</a></li>
          <li class="catalog-breadcrumbs__item"><a class="catalog-breadcrumbs__link" href="#">Catalog</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
