<section class="hero">
  <div class="background"></div>
  <div class="container hero__container">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <h1 class="hero__title">We all bask in&nbsp; the glow</h1>
            <p class="hero__descr">Massa mattis proin sed ut eu donec ornare. Ornare interdum mauris elit gravida aenean
              odio tincidunt tempus.</p>
            <a class="hero__link" href="catalog.html">Catalog</a>
            <picture>
              <source srcset="img/hero-slide.avif" type="image/avif">
              <source srcset="img/hero-slide.webp" type="image/webp">
              <img loading="lazy" src="img/hero-slide.png" class="image" width="500" height="820" alt="3 black lamps" aria-hidden="true">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h1 class="hero__title">We all bask in&nbsp; the glow</h1>
            <p class="hero__descr">Massa mattis proin sed ut eu donec ornare. Ornare interdum mauris elit gravida aenean
              odio tincidunt tempus.</p>
            <a class="hero__link" href="catalog.html">Catalog</a>
            <picture>
              <source srcset="img/hero-slide.avif" type="image/avif">
              <source srcset="img/hero-slide.webp" type="image/webp">
              <img loading="lazy" src="img/hero-slide.png" class="image" width="500" height="820" alt="3 black lamps" aria-hidden="true">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h1 class="hero__title">We all bask in&nbsp; the glow</h1>
            <p class="hero__descr">Massa mattis proin sed ut eu donec ornare. Ornare interdum mauris elit gravida aenean
              odio tincidunt tempus.</p>
            <a class="hero__link" href="catalog.html">Catalog</a>
            <picture>
              <source srcset="img/hero-slide.avif" type="image/avif">
              <source srcset="img/hero-slide.webp" type="image/webp">
              <img loading="lazy" src="img/hero-slide.png" class="image" width="500" height="820" alt="3 black lamps" aria-hidden="true">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h1 class="hero__title">We all bask in&nbsp; the glow</h1>
            <p class="hero__descr">Massa mattis proin sed ut eu donec ornare. Ornare interdum mauris elit gravida aenean
              odio tincidunt tempus.</p>
            <a class="hero__link" href="catalog.html">Catalog</a>
            <picture>
              <source srcset="img/hero-slide.avif" type="image/avif">
              <source srcset="img/hero-slide.webp" type="image/webp">
              <img loading="lazy" src="img/hero-slide.png" class="image" width="500" height="820" alt="3 black lamps" aria-hidden="true">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h1 class="hero__title">We all bask in&nbsp; the glow</h1>
            <p class="hero__descr">Massa mattis proin sed ut eu donec ornare. Ornare interdum mauris elit gravida aenean
              odio tincidunt tempus.</p>
            <a class="hero__link" href="catalog.html">Catalog</a>
            <picture>
              <source srcset="img/hero-slide.avif" type="image/avif">
              <source srcset="img/hero-slide.webp" type="image/webp">
              <img loading="lazy" src="img/hero-slide.png" class="image" width="500" height="820" alt="3 black lamps" aria-hidden="true">
            </picture>
          </div>
        </div>
      </div>
      <div class="hero__pagination"></div>
    </div>
  </div>
</section>
