<section class="products">
  <div class="container products__container">
    <h2 class="products__title title">Products of the week</h2>
    <ul class="products__list list-reset">
      <li class="products__item"  data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500"
      data-aos-easing="ease-in-out">
        <div class="products__image">
          <picture>
            <source srcset="img/products-1.avif" type="image/avif">
            <source srcset="img/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products-1.png" class="image" width="216" height="310" alt="Massa mattis">
          </picture>
        </div>
        <div class="products__content">
          <div class="products__text-wrap">
            <strong class="products__subject">Massa mattis</strong>
            <span class="products__price">210$</span>
          </div>
          <p class="products__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum.</p>
          <a class="products__link main-link" href="lamp-orange.html">View more</a>
        </div>
      </li>
      <li class="products__item" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1500"
      data-aos-easing="ease-in-out">
        <div class="products__image">
          <picture>
            <source srcset="img/products-2.avif" type="image/avif">
            <source srcset="img/products-2.webp" type="image/webp">
            <img loading="lazy" src="img/products-2.png" class="image" width="231" height="279" alt="Massa mattis">
          </picture>
        </div>
        <div class="products__content">
          <div class="products__text-wrap">
            <strong class="products__subject">Massa mattis</strong>
            <span class="products__price">230$</span>
          </div>
          <p class="products__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum.</p>
          <a class="products__link main-link" href="lamp-black.html">View more</a>
        </div>
      </li>
      <li class="products__item" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500"
      data-aos-easing="ease-in-out">
        <div class="products__image">
          <picture>
            <source srcset="img/products-3.avif" type="image/avif">
            <source srcset="img/products-3.webp" type="image/webp">
            <img loading="lazy" src="img/products-3.png" class="image" width="162" height="291" alt="Massa mattis">
          </picture>
        </div>
        <div class="products__content">
          <div class="products__text-wrap">
            <strong class="products__subject">Massa mattis</strong>
            <span class="products__price">270$</span>
          </div>
          <p class="products__descr">Fames dictum hendrerit ultrices aenean nisl tempor bibendum.</p>
          <a class="products__link main-link" href="lamp-blue.html">View more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
