html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--black-color);
  overflow-anchor: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

.site-bg {
  background-color: var(--white-color);
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  font-family: "KronaOne";
  font-size: 54px;
  line-height: 68px;
  letter-spacing: -0.03em;
  opacity: 0.9;

  @include small-tablet {
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
  }

  @include mobile {
    font-size: 34px;
    line-height: 46px;
  }
}

.main-link {
  border: 1px solid var(--black-color);
  font-weight: 500;
  line-height: 24px;
  opacity: 0.9;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: var(--black-color);
    color: #fff;
    transition: background-color .3s, color .3s;
  }

  @include small-tablet {
    font-size: 14px;
    line-height: 16px;
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include xxl-desktop {
    padding: 0 50px;
  }

  @include big-desktop {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.stop-scroll {
  overflow: hidden;
}

.focus-offset {
  &:focus {
    outline: 1px solid var(--black-color);
    outline-offset: 2px;
    transition: none;
  }
}

.focus-offset-4px {
  &:focus {
    outline: 1px solid var(--black-color);
    outline-offset: 4px;
    transition: none;
  }
}

.pointer-events {
  pointer-events: none;
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background-color: rgba(39, 39, 39, 0.5);
  transition: opacity 0.3s, visibility 0.3s;

  &--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.3s, visibility 0.3s !important;
}

.site-bg--gray {

  @include md-tablet {
    background-color: #FCF8F5;
  }
}

.md-tablet {
  display: none;

  @include md-tablet {
    display: block;
  }
}
